#box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#add{
    border-radius: 20px;
    max-height: 130px;
    max-width: 750px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 20px;
    background-color: black;
    color:white;
}

#in{
    border-radius: 20px;
    height: 90px;
    width: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 20px;
}

#boxx{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 40px;
    align-items: left;
    background-color: rgb(255, 248, 239);
    min-height: 64vh;
    border-radius: 0px 0px 20px 20px;
    padding: 60px;
    padding: 50px;
}


#r{
    border-radius: 20px;
    max-height: 130px;
    max-width: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px auto;
}

#g{
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    margin-left: 87vh;
}

#p{
    font-size: 30px;

}

#i{
    margin-top: 200px;
}
